* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
/* Navigation bar */
nav ul {
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    background-color: rgb(199, 149, 246);
}
ul li a {
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 0;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
ul li a:hover{
    background-color: rgb(244, 244, 160);
    color: black;
    padding: 12px;
    border-radius: 2px;
}
/* HTML Form */
.html_form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 5% 10%;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.col{
    float: left;
    width: 25%;
    margin-top: 12px;
}
.inputs{
    float: right;
    width: 75%;
    margin-top: 6px;
    padding: 4px;
}
input[type="text"], input[type="email"], select, input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
/* input[type=date]{
    width: auto;
    padding: 10px ;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
} */
input[type=radio], input[type=checkbox]{
    /* padding: 5px ; */
    margin: 2px
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    margin-top: 12px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media  (max-width: 800px){
    nav ul {
        display:block;
        text-align: center;
        /* padding: 30px 10px; */
      }
      /* nav ul li {
        margin: 0;
        padding: 5px;
  
      } */
      ul li a{
        display: block;
        padding: 10px 0;
      }
    .col, .inputs, input[type="submit"] {
        width: 100%;
        margin-top: 0;
        /* font-size: 14px; */
    }
    /* input[type=submit]{
        width: 100%;
        margin-top: 10px;
    } */
    /* .html_form{
        max-height: 100%;
        overflow: scroll;
    } */
}
@media (max-width: 200px){
    .html_form{
        margin: 0;
    }
    .col, .inputs{
        font-size: 10px;
    }

}





